<%- include('../../fragment/header.ejs') %>
  <main>
    <div class="container main">
      <p class="empty-list-case">There are no authors to display.</p>
      <a class="btn btn-add" href="/authors/add">Add an author</a>
    </div>
  </main>
<%- include('../../fragment/footer.ejs') %>