<%- include('../../fragment/header.ejs') %>
    <main>
      <script type="application/javascript" src="../../js/validationCommon.js"></script>
      <script type="application/javascript" src="../../js/validationBookForm.js"></script>
      <div class="container main">
        <form novalidate onsubmit="return validateForm();">
          <label class="label-input" for="name">Name: <span class="symbol-required">*</span></label>
          <input type="text" class="error-type input" name="name" id="name" required>
          <span class="error-text" id="errorName">Field is required.</span>
          <label class="label-input" for="author">Author: <span class="symbol-required">*</span></label>
          <select class="error-type input" name="author" id="author" required>
            <option value="">Choose the author</option>
            <option value="1">Jane Austen</option>
            <option value="2">Antoine de Saint-Exupéry</option>
            <option value="3">Fyodor Dostoevsky</option>
          </select>
          <span class="error-text" id="errorAuthor">Field is required.</span>
          <label class="label-input" for="name">Price: <span class="symbol-required">*</span></label>
          <input type="number" class="error-type input" name="price" id="price" placeholder="$" required>
          <span class="error-text" id="errorPrice">Field is required.</span>
          <div class="form-btns">
            <p class="error-text" id="errorSummary">Form contains errors.</p>
            <input class="btn btn-add-submit" type="submit" value="Add a book">
            <a class="btn btn-cancel" href="/books">Cancel</a>
          </div>
        </form>
      </div>
    </main>
<%- include('../../fragment/footer.ejs') %>