<%- include('../../fragment/header.ejs') %>
    <main>
      <div class="container main">
        <p class="empty-list-case">There are no orders to display.</p>
        <a class="btn btn-add" href="/orders/add">Add an order</a>
      </div>
    </main>
<%- include('../../fragment/footer.ejs') %>