<%- include('../../fragment/header.ejs') %>
    <main>
      <div class="container main">
        <p class="empty-list-case">There are no clients to display.</p>
        <a class="btn btn-add" href="/clients/add">Add a client</a>
      </div>
    </main>
<%- include('../../fragment/footer.ejs') %>