<% if(loggedUser) { %>
<span>You are logged in as: <%=loggedUser.name + " " + loggedUser.surname%></span>
<a href="/logout">Sign out</a>
<% } %>
</body>
<footer class="flex">
    <span class="footer-span"> Darya Selivanava, s22297</span>
</footer>
</html>